*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 100px 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.column1{
    width: 30%;
    text-align: center;
}

.column2{
    width: 30%;
}

.columnL{
    width: 40%;
}

.flex{
    display: flex;
}

.card{
    padding-left: 5px;
    border: 1px solid black;
    height: 40px;
    padding: 10px 0 10px 5px;
}